.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-logo{
    margin-top: 400px;
}
.home-text {
    margin-top: 8px;
    font-weight: 600;
    font-size: 20px;
}
.home-link{
margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
        padding: 12px 20px;
        width: 343px;
        height: 65px;
box-shadow: 6px 6px 12px 0 rgba(50, 55, 108, 0.16);
    background: #ea2328;
    transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #bc1d21;
}
@media only screen and (min-width: 1440px) {
    .home-section {
        background-image: url("/img/home/desk.png");
    }

    .home-logo {
        margin-top:120px;
    }

    .home-text {
font-size: 26px;
margin-top: 8px;
    }
.home-link {
width: 240px;
    height: 65px;
}
}
/* About the Game */
.about-wrapper{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 32px;
        padding: 80px 24px 32px;
        width: 343px;
height: 748px;
}
.blue-title{
    color: #002daf;
    text-align: left;
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 295px;
    font-weight: 400;
    color: #566685;
    text-align: left;
}
.about-big-text{
    font-weight: 700;
}
.about-container{
    padding-top: 0;
}
@media only screen and (min-width: 1440px) {
 .about-wrapper{
    background-image: url("/img/about/desk.png");
border-radius: 32px;
    padding:120px 56px 56px;
    width: 1312px;
height: 496px;
}
.about-text-wrapper{
width: 600px;
font-size: 20px;
}  
}
/* Adventure Worlds */
.adventure-section h2{
margin-bottom: 8px;
}
.adventure-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.adventure-item{
border-radius: 24px;
    padding: 40px 32px;
    width: 343px;
    height: auto;
background: linear-gradient(180deg, #0d41c9 0%, #0a319a 100%);
display: flex;
flex-direction: column;
align-items: center;
}
.adventure-title{
    margin-top: 24px;
    margin-bottom: 16px;
font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .adventure-list {
margin-top: 40px;
gap: 32px;
flex-direction: row;
justify-content: center;
    }
 .adventure-item {
width: 304px;
    height: 480px;
}

    .adventure-title {
font-size: 28px;
    }
.desk{
    display: block;
}
}
/* Features */
.features-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.features-item{
border-radius: 24px;
    padding: 40px 32px;
    width: 343px;
    height: auto;
background: #fff;
display: flex;
flex-direction: column;
gap: 16px;
}
.features-title-wrapper{
    display: flex;
    align-items: center;
    gap: 32px;
}
.features-title-wrapper h2{
color: #002daf;
margin-bottom: 0;
}
.features-title-text{
    color: #566685;
text-align: left;
}
.f2{
background: #ec2329;
}
.features-title{
font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
text-align: left;
}
.features-text{
text-align: left;
}
.f3{
background: #21c2f8;
}
.f4{
background: #1dbf21;
}
.f5{
background: #ad4cfe;
}
.f6{
background: #ff9221;
}
@media only screen and (min-width: 1440px) {
.features-list{
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
gap: 32px;
}
.features-item{
width: 416px;
    height: 230px;
}
.features-title{
font-size: 28px;
}    
}
/* Gameplay Highlights */
.highlights-container{
    padding-top: 0;
}
.highlights-wrapper{
    background-image: url("/img/highlights/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 343px;
    height: 1068px;
padding: 234px 24px 32px;
}
.highlights-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.highlights-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.highlights-img{
    width: 60px;
    height: 60px;
}
.highlights-text{
    text-align: left;
}
@media only screen and (min-width: 1440px) {
.highlights-wrapper{
    background-image: url("/img/highlights/desk.png");
width: 1312px;
    height: 1052px;
padding: 503px 56px 56px;
}
.highlights-list{
    margin-top: 40px;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
    gap: 32px;
}
.highlights-item{
width: 427px;
    height: 96px;
    align-items: start;
}
.highlights-img{
    width: 96px;
    height: 96px;
}  
}
/* Reviews */
.reviews-section{
background: linear-gradient(180deg, #0d41c9 0%, #0a319a 100%);
}
.reviews-swiper{
    margin-top: 32px;
}
.reviews-swiper .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 24px;
        padding: 32px 24px;
box-shadow: 0 8px 24px 0 rgba(10, 25, 47, 0.06);
    background: #fff;
}
.rteviews-text{
    font-weight: 400;
    color: #566685;
    height: 78px;
}
.author{
font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #002daf;
}
@media only screen and (min-width: 1440px) {
.reviews-swiper {
        margin-top: 40px;
    }

    .rteviews-text {
        height: 116px;
    }

    .author {
font-size: 28px;
    }
}
/* Advantages */
.advantages-wrapper{
    background-image: url("/img/advantages/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 32px;
        padding: 32px 16px;
        width: 343px;
        height: 712px;
}
.advantages-list{
    margin-top: 32px;
display: flex;
flex-wrap: wrap;
gap: 16px;
justify-content: center;
}
.advantages-item{
width: 147px;
    height: 169px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
@media only screen and (min-width: 1440px) {
.advantages-wrapper {
        background-image: url("/img/advantages/desk.png");
    padding: 56px;
    width: 1312px;
    height: 428px;
    }

    .advantages-list {
        margin-top: 40px;
        gap: 32px;
    }

    .advantages-item {
width: 173px;
    height: 175px;
    }
}
/* Gallery */
.gallery-wrapper{
border-radius: 40px;
    padding: 32px 24px;
    width: 343px;
    height: 425px;
    background: #ec2329;
}
.gallery-swiper{
    margin-top: 32px;

}

.gallery-pagination {
display: flex;
justify-content: center;
gap: 6px;
margin-top: 24px;
}

.gallery-bullet {
    padding: 0;
border: 1px solid #fff;
    border-radius: 50px;
    width: 10px;
    height: 10px;
background-color: inherit;
    cursor: pointer;
    transition: all .3s ease;
}

.gallery-bullet-active {
border-radius: 50px;
    width: 62px;
    height: 10px;
background: #fff;
}
@media only screen and (min-width: 1440px) {
.gallery-wrapper{
    padding: 56px 40px;
    width: 1312px;
    height: 1009px;
}
.gallery-swiper{
    margin-top: 40px;
}  
}
/* faq */

.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 32px auto 0;
    gap: 12px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    display: flex;
    gap: 8px;
    align-items: start;

}

.faq-acc-el-trigger {
border-radius: 12px;
    padding: 20px 24px;
    width: 267px;
    height: auto;
    background: #ff9221;
font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: #fff;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9221;
    transition: transform 0.3s ease;
    border-radius: 12px;
    width: 68px;
    height: 68px;
    border: none;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
background: #ff9221;
width: 267px;
font-weight: 400;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    border-top: none;
    padding: 20px 24px;
    background: #ff9221;
    font-weight: 400;
    width: 267px;
    max-height: 500px;
    margin-bottom: 16px;
    margin-top: -3px;

}


@media only screen and (min-width: 1440px) {
    .faq-acc {
        width: 864px;
        margin: 40px auto 0;
        gap: 16px;
    }

    .faq-acc-el-trigger {
    width: 788px;
    }

    .faq-acc-el-descr-frame {
width: 788px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
width: 788px;

    }

}