@import url('./styles.css');

.background {
font-weight: 400;
    text-align: left;
}

.privacy-title {
    margin-top: 70px;
    margin-bottom: 30px;

}

.policy-subtitle {
font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 20px;

}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;

}

.text {
    margin-top: 20px;
}

.policy-number{
    padding-left: 20px;
}

.policy-span {
color: #bfedff;
}

@media only screen and (min-width: 1440px) {
    .policy-container {
        padding-left: 212px;
        padding-right: 212px;
    }

    .policy-subtitle {
font-size: 28px;
    }
}